<p id="notice"><%= notice %></p>

<h2>
  <%= "#{@beer_club.name} #{@beer_club.city}" %>
</h2>

<p>
  Founded <%= @beer_club.founded %>
</p>

<% if @beer_club.members.any? %>

  <h3>Members</h3>

  <ul>
    <% @beer_club.members.each do |member| %>
      <li>
      <%= link_to member.username, member %>
      </li>
    <% end %>
  </ul>

<% else %>

  <p>
    no members
  </p>

<% end %>

<%= link_to 'Edit', edit_beer_club_path(@beer_club) %> |
<%= link_to 'Back', beer_clubs_path %>
