<h2>Create new rating</h2>

<% if @rating.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@rating.errors.count, "error") %> prohibited rating from being saved:</h2>

    <ul>
    <% @rating.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(@rating) do |f| %>
  <%= f.select :beer_id, options_from_collection_for_select(@beers, :id, :to_s, selected: @rating.beer_id) %>
  score: <%= f.number_field :score %>
  <%= f.submit %>
<% end %>